@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base-100 text-neutral font-sans;
  }
}

@layer components {
  .card-shadow {
    @apply shadow-sm hover:shadow-md transition-shadow duration-200;
  }
}
